### Akamaized ###
||akamaized.net^$dnsrewrite=110.50.80.4
||akamaized.net^$dnsrewrite=110.50.80.5
||akamaized.net^$dnsrewrite=110.50.80.6
||akamaized.net^$dnsrewrite=110.50.80.7
||akamaized.net^$dnsrewrite=110.50.80.8
||akamaized.net^$dnsrewrite=110.50.80.9
||akamaized.net^$dnsrewrite=110.50.80.10
||akamaized.net^$dnsrewrite=110.50.80.11
||akamaized.net^$dnsrewrite=110.50.80.12
||akamaized.net^$dnsrewrite=110.50.80.14
||akamaized.net^$dnsrewrite=110.50.80.15
||akamaized.net^$dnsrewrite=110.50.80.16
||akamaized.net^$dnsrewrite=110.50.80.17
||akamaized.net^$dnsrewrite=110.50.80.18
||akamaized.net^$dnsrewrite=110.50.80.19
||akamaized.net^$dnsrewrite=110.50.80.20
||akamaized.net^$dnsrewrite=110.50.80.21
||akamaized.net^$dnsrewrite=110.50.80.22
||akamaized.net^$dnsrewrite=110.50.80.23
||akamaized.net^$dnsrewrite=110.50.80.24
||akamaized.net^$dnsrewrite=110.50.80.25
||akamaized.net^$dnsrewrite=110.50.80.26
||akamaized.net^$dnsrewrite=110.50.80.27
||akamaized.net^$dnsrewrite=110.50.80.28
||akamaized.net^$dnsrewrite=110.50.80.31
||akamaized.net^$dnsrewrite=110.50.80.32
||akamaized.net^$dnsrewrite=110.50.80.33
||akamaized.net^$dnsrewrite=110.50.80.34
||akamaized.net^$dnsrewrite=110.50.80.35
||akamaized.net^$dnsrewrite=110.50.80.36
||akamaized.net^$dnsrewrite=110.50.80.37
||akamaized.net^$dnsrewrite=110.50.80.40
||akamaized.net^$dnsrewrite=110.50.80.41

### BStation ###
||upos-sz-mirrorcdsbstar1.bilivideo.com^$dnsrewrite=upos-bstar1-mirrorakam.akamaized.net
||upos-sz-mirroralibstar1.bilivideo.com^$dnsrewrite=upos-bstar1-mirrorakam.akamaized.net
||upos-sz-mirrorhwbstar1.bilivideo.com^$dnsrewrite=upos-bstar1-mirrorakam.akamaized.net
||upos-sz-mirrorgcsbstar1.bilivideo.com^$dnsrewrite=upos-bstar1-mirrorakam.akamaized.net
||upos-sz-mirrorcosbstar1.bilivideo.com^$dnsrewrite=upos-bstar1-mirrorakam.akamaized.net

### PayPal ###
||paypal.com^$dnsrewrite=paypal-dynamic.map.fastly.net
||paypalobjects.com^$dnsrewrite=paypal.map.fastly.net

### Twitter ###
||pbs.twimg.com^$dnsrewrite=dualstack.twimg.twitter.map.fastly.net
||video.twimg.com^$dnsrewrite=dualstack.video.twitter.map.fastly.net
