### Akamai ###
||akamaized.net^$dnstype=AAAA,dnsrewrite=NOERROR
||akamaihd.net^$dnstype=AAAA,dnsrewrite=NOERROR

### BStation ###
#/upos\-([s,h])z\-mirror([a-z0-9]+?).bilivideo\.com/$dnsrewrite=upos-hz-mirrorakam.akamaized.net
#/upos\-([s,h])z\-mirror([a-z0-9]+?).bilivideo\.com/$dnsrewrite=upos-bstar1-mirrorakam.akamaized.net

### BStation Old ###
#||upos-sz-mirroralibstar1.bilivideo.com^$dnsrewrite=upos-bstar1-mirrorakam.akamaized.net
#||upos-sz-mirrorcdsbstar1.bilivideo.com^$dnsrewrite=upos-bstar1-mirrorakam.akamaized.net
#||upos-sz-mirrorcosbstar1.bilivideo.com^$dnsrewrite=upos-bstar1-mirrorakam.akamaized.net
#||upos-sz-mirrorgcsbstar1.bilivideo.com^$dnsrewrite=upos-bstar1-mirrorakam.akamaized.net
#||upos-sz-mirrorhwbstar1.bilivideo.com^$dnsrewrite=upos-bstar1-mirrorakam.akamaized.net

### Google Video (YouTube) ###
||googlevideo.com^$dnstype=AAAA,dnsrewrite=NOERROR
||youtube.com^$dnstype=AAAA,dnsrewrite=NOERROR

### HoYoverse ###
||autopatchhk.yuanshen.com^$dnsrewrite=autopatchhk.yuanshen.com.akamaized.net
||autopatchos.starrails.com^$dnsrewrite=autopatchos.starrails.com.akamaized.net

### PayPal ###
||paypal.com^$dnsrewrite=paypal-dynamic.map.fastly.net
||paypalobjects.com^$dnsrewrite=paypal.map.fastly.net

### Twitter ###
#||pbs.twimg.com^$dnsrewrite=dualstack.twimg.twitter.map.fastly.net
||pbs.twimg.com^$dnsrewrite=cs196.wac.edgecastcdn.net
#||video.twimg.com^$dnsrewrite=dualstack.video.twitter.map.fastly.net
||video.twimg.com^$dnsrewrite=cs296.wpc.edgecastcdn.net

### Reddit ###
||reddit.com^$dnsrewrite=dualstack.reddit.map.fastly.net
